<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Freela</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid vh-100">
        <div class="row h-100">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <img src="/assets/img/LogoLinkedOut.jpeg" class="img-fluid" alt="Logo Linked Out">
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="form-freela p-4 rounded">
                    <% if (typeof warning !=='undefined' && warning) { %>
                        <div class="alert alert-warning mt-3" role="alert">
                            <%= warning %>
                        </div>
                        <% } %>

                            <% if (typeof error !=='undefined' && error) { %>
                                <div class="alert alert-danger mt-3" role="alert">
                                    <%= error %>
                                </div>
                                <% } %>

                                    <% if (typeof success !=='undefined' && success) { %>
                                        <div class="alert alert-success mt-3" role="alert">
                                            <%= success %>
                                        </div>
                                        <% } %>
                                            <form method="POST" action="/api/freela/cadastrar/<%= idEmpresa %>">
                                                <h2 class="text-dark text-center mb-4">Cadastro de Freela</h2>
                                                <div class="mb-3">
                                                    <label for="nome" class="form-label">Título do Trabalho</label>
                                                    <input type="text" class="form-control" id="nome" name="nome"
                                                        required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="descricao" class="form-label">Descrição</label>
                                                    <textarea class="form-control" id="descricao" name="descricao"
                                                        rows="3" style="resize: none;" required></textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="idCategoria" class="form-label">Categoria</label>
                                                    <select class="form-control" id="idCategoria" name="idCategoria"
                                                        required>
                                                        <option value="" disabled selected>Selecione uma categoria
                                                        </option>
                                                        <% if (typeof categorias !=='undefined' && categorias.length> 0)
                                                            { %>
                                                            <% categorias.forEach(categoria=> { %>
                                                                <option value="<%= categoria.idCategoria %>">
                                                                    <%= categoria.nome %>
                                                                </option>
                                                                <% }); %>
                                                                    <% } else { %>
                                                                        <option value="" disabled>Nenhuma categoria
                                                                            disponível</option>
                                                                        <% } %>
                                                    </select>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="valor" class="form-label">Valor</label>
                                                    <input type="number" class="form-control" id="valor" name="valor"
                                                        required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="dataValidade" class="form-label">Data de
                                                        Validade</label>
                                                    <input type="date" class="form-control" id="dataValidade"
                                                        name="dataValidade" required>
                                                </div>

                                                <button type="submit" class="btn btn-success w-100">Cadastrar
                                                    Freela</button>
                                            </form><br>
                                            <a href="/home" class="btn btn-secondary w-100">Voltar</a>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>