<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <title>Meu Perfil</title>
</head>

<body>
    <div class="container-fluid vh-100">
        <h2 class="text-center">Minha Conta</h2>
        <% if (typeof warning !=='undefined' && warning) { %>
            <div class="alert alert-warning mt-3" role="alert">
                <%= warning %>
            </div>
        <% } %>

        <% if (typeof error !=='undefined' && error) { %>
            <div class="alert alert-danger mt-3" role="alert">
                <%= error %>
            </div>
        <% } %>

        <% if (typeof success !=='undefined' && success) { %>
            <div class="alert alert-success mt-3" role="alert">
                <%= success %>
            </div>
        <% } %>

        <form method="POST" action="/api/user/editar">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="nome" value="<%= usuario.nome %>">
            </div>

            <div class="input-group mb-3">
                <input type="email" class="form-control" name="email" value="<%= usuario.email %>">
            </div>

            <button type="submit" class="btn btn-success">Salvar</button>
        </form><br>

        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
            Excluir Conta
        </button>

        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Exclusão</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Tem certeza que deseja excluir sua conta? <b>Esta ação não pode ser desfeita.</b>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <form method="POST" action="/api/user/excluir">
                            <button type="submit" class="btn btn-danger">Excluir Conta</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-secondary">
            <a class="text-light text-decoration-none" href="/api/auth/logout">Sair</a>
        </button>
    </div>

    <script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>